- @page_title = "Edit rank #{@rank.description}"

= semantic_form_for @rank, :as => :rank, :url => rank_path(@rank) do |f|
  
  = render :partial => 'form', :locals => {:f => f}
  
  = f.buttons do
    = f.commit_button 'Save changes'

%p
  = link_to 'Back to ranks listing', ranks_path