- @page_title = "#{@rank_label} ranks list"

- if @ranks.any?
  - reset_cycle
  %table
    %thead
      %tr
        %th Number
        %th Color
        %th Description
        %th{:colspan => 2} Actions
    %tbody
      - for rank in @ranks do
        %tr{:class => cycle('odd', 'even')}
          %td= rank.number
          %td= rank.color
          %td= rank.description
          %td= link_to 'edit', send("edit_#{@rank_path}_path", rank)
          %td= link_to 'destroy', rank, :confirm => 'Are you sure?', :method => :delete
- else
  %p No #{@rank_label} ranks in the database. #{link_to "Create one now &rarr;", send("new_#{@rank_path}_path")}

%p= link_to "New #{@rank_label} rank", send("new_#{@rank_path}_path")
