- @page_title = "New #{@rank_label} rank"

= semantic_form_for(@rank, :as => :rank, :url => send("#{@rank_path}s_path")) do |f|
  
  = render :partial => "form", :locals => {:f => f}
  
  = f.buttons do
    = f.commit_button 'Add new rank'

%p= link_to 'Back to ranks list', send("#{@rank_path}s_path")