- @page_title = 'New member'

= semantic_form_for(@member) do |f|
  
  = render :partial => "form", :locals => {:f => f}
  
  = f.buttons do
    = f.commit_button 'Add new member'

%p= link_to 'Back to members list', members_path